{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}
Logout
{% endblock title %}
{% block body %}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{% static 'images/bg_3.jpg'%}');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        {% include "includes/alerts.html" %}
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Accounts <i
                            class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Logout</h1>
            </div>
        </div>
    </div>
</section>
<div class="container my-5">
    <div class="col-md-6 mx-auto mt-5">
        {% csrf_token %}
        <p>Logged out!</p>
        <a href="{% url 'login'%}">Click here to login again.</a>
    </div>
</div>



{% endblock body %}